@import './../../styles/main';

.settings {


  &__form {
    display: flex;
    flex-direction: column;
    width: full;
    gap: 16px;
    height:fit-content;

  }

  &__password {
    display: flex;
    flex-direction: column;
    gap: 32px;
    opacity: 0;
    display: none;
    transform: translateY(-15px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  
    &--visible {
      display: flex;
      flex-direction: column;
      gap: 16px;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
